<h1>Books</h1>

<div class="columns">
  <p>Title</p>
  <p>Body</p>
</div>


<% @books. each do |book| %>
  <div class="main books-index">
    <%= book.title %>
    <%= book.body %>
    <%= link_to("Show","/books/#{book.id}") %>
    <span>Edit</span>
    <span>Destroy</span>
  </div>
<% end %>

<%= form_tag("/books/create") do %>
  <h2>New book</h2>
  <p>Title</p>
  <textarea name="title"></textarea>
  <p>Body</p>
  <textarea name="body"></textarea>
  <input type="submit" value="Create Book">
<% end %>
