<div class="show">
<p>
 <spam>Title:</spam>
 <%= @book.title %>
</p>
<p>
 <spam>Body:</spam>
 <%= @book.body %>
</p>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>
<span>|</span>
<%= link_to "Back", books_path %>