/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.success {
  color: green;
}

body {
  margin: 30px;
}

/*top*/
.top_about {
  padding-left: 50px;
  line-height: 50px;
}


/*index*/
table {
  display: table;
  border-collapse: separate;
  border-spacing: 20px 7px;
  border-color: grey;
  font-size: 14px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

label {
  display: block;
  margin-top: 10px;
}

.post {
  margin-left: 10px;
  display: inline;
}

.post h2 {
  margin-bottom: 0;
}

.error_explanation {
    width: 450px;
    padding: 7px;
    padding-bottom: 0;
    background-color: #f0f0f0;
    border: 2px solid red;
}

.error_explanation h4 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

.error_explanation ul {
   margin: 0;
}

.error_explanation  li {
    font-size: 12px;
    list-style: square;
    padding-left: 50px;
}

.edit li {
  font-size: 12px;
  list-style: square;
  padding-left: 50px;
  margin: 30px 0;
}

form {
 display: inline;
}

a:hover {
  color: white;
  background-color: black;
}

/*show*/

.show {
  margin: 40px 50px;
}

.show spam {
  font-weight: 600;
}