/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.success {
  color: green;
}

body {
  margin: 30px;
}

/*top*/
.top_about {
  padding-left: 50px;
  line-height: 50px;
}


/*index*/
table {
  display: table;
  border-collapse: separate;
  border-spacing: 20px 7px;
  border-color: grey;
  font-size: 14px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

label {
  display: block;
  margin-top: 10px;
}

.new {
  margin-left: 10px;
}

/*show*/

.show {
  margin: 40px 50px;
}

.show spam {
  font-weight: 600;
}